.title {
  padding: 10px;
  background-color: ghostwhite;
}


.sidebar {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.action-buttons {
  position: absolute;
  top: 0;
  right: 15px;
}

button {
  text-align: right;
}
