<h1 mat-dialog-title><i class="fas fa-info-circle"></i> {{"ABOUT_PROJECT.TITLE" | translate}}</h1>
<div mat-dialog-content class="dialog-content">
  <p>{{"ABOUT_PROJECT.LINE_1" | translate}}</p>
  <p class="thesis-title" [innerHTML]="getTranslatedKeyOfLineAsHTML('THESIS_TITLE')"></p>
  <p>{{"ABOUT_PROJECT.LINE_2" | translate}}</p>
  <p>{{"ABOUT_PROJECT.LINE_3" | translate}}</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p [innerHTML]="getTranslatedKeyOfLineAsHTML('LINE_4')"></p>
  <p [innerHTML]="getTranslatedKeyOfLineAsHTML('LINE_5')"></p>
  <p><i class="far fa-copyright"></i> Stephanie Hohenberg | GNU General Public License v3.0</p>

  <div class="language-toggle-container">
    <app-language-toggle></app-language-toggle>
  </div>
</div>
