<h1 mat-dialog-title><i class="fas fa-info-circle"></i> Über das Projekt</h1>
<div mat-dialog-content class="dialog-content">
  <p>
    Der Prototyp TSEK-Analyzer wurde von Stephanie Hohenberg im Rahmen ihrer Masterthesis im Wintersemester 20/21 an der Freien Universität Berlin umgesetzt.
    Der Titel der Thesis lautet:
  </p>
  <p class="thesis-title">"Erste Schritte zu einer <b>T</b>axonomie von <b>S</b>oftware-<b>E</b>ngineering-<b>K</b>ontexten"</p>
  <p>
    und beinhaltet das Akrononym, wofür TSEK steht.
  </p>
  <p>
    Innerhalb ihrer Thesis hat Stephanie 129 technische Paper, welche auf der International Conference of Software Engineering (ICSE) 2020 veröffentlicht wurden,
    gelesen und analysiert. Um die Daten geeignet zu analysieren und um dadurch die aufgestellten Recherchefragen der Thesis beantworten zu können,
    wurde TSEK-Analyzer entwickelt. Dabei wurde ein User-Centered-Design Ansatz verfolgt.
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>Mehr Informationen können auf der <a target="_blank" href="http://www.inf.fu-berlin.de/w/SE/ThesisTaxonomy1">Thesis-Seite</a> gefunden werden</p>
  <p>Das Projekt wurde mit dem Framework Angular <i class="fab fa-angular"></i> umgesetzt und der Sourcecode, sowie weitere Artefakte, wie das Dokument zur Masterthesis selbst,
    ist auf <a target="_blank" href="https://github.com/StephanieHohenberg/TheMasterThesis">Github <i class="fab fa-github"></i></a> öffentlich zugänglich.</p>
  <p></p>
  <p><i class="far fa-copyright"></i> Stephanie Hohenberg | GNU General Public License v3.0</p>
</div>
