.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-line > span {
  align-self: center;
}

.paper-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

app-paper-accordion {
  max-width: 45vw;
}

.paper-table:nth-child(2) {
  padding-left: 5px;
}
