<div class="toolbar-container">
  <p (click)="toggleSidebar()" [matTooltip]="'TOOLBAR.TOGGLE_SIDEBAR' | translate">
    <i *ngIf="!visibilityService.isSidebarHidden()" class="fas fa-chevron-left"></i>
    <i *ngIf="visibilityService.isSidebarHidden()" class="fas fa-chevron-right"></i>
  </p>
  <p (click)="toggleFilter()" [matTooltip]="'TOOLBAR.TOGGLE_FILTER' | translate" class="filter"><i class="fas fa-filter"></i></p>
  <div class="bottom-align">
    <p (click)="openInformation()" [matTooltip]="'TOOLBAR.ABOUT' | translate"><i class="fas fa-info-circle"></i></p>
    <p (click)="openSettings()" [matTooltip]="'TOOLBAR.SETTINGS' | translate"><i class="fas fa-cogs"></i></p>
  </div>
</div>
